html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black; /* Optional: fallback background color */
  background: linear-gradient(to bottom, black, #313030); /*Change Gradient (#1e1e1e)*/ 
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #002e74;
}
#wrapper{
  position: relative; 
  width: 100%;
  height: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}
#w_Background {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  z-index: -1;
  height:750px; 
}
/* Need to figure out how stay in one place
How to make it so a image cant exit a div
*/ 


#IE_icon{
  position: absolute; 
  z-index: 1;
  height: 50px; 
  right: 250px; 
  bottom: 195px;  
}
#sims_icon{
  position: absolute; 
  z-index: 1;
  height: 50px; 
  right: 250px;
  bottom: 120px;   
}

#game_icon{
  position: absolute; 
  z-index: 1;
  height: 55px; 
  left:-200px; /*255*/
  bottom: 30px;   
}

#IE_text{
  font-family: 'Courier New', Courier, monospace;
  position: absolute; 
 /* right: 35vw;
  bottom: 20vw; */
  bottom: 180px; 
  right : 260px; /*260*/
  font-size: 12px;
  color: white;
  z-index: 1; 
}

#Sims_text{
    font-family: 'Courier New', Courier, monospace; 
    right : 230px; /*230*/
    font-size: 12px;
    color: white;
    z-index: 1; 
  width: 90px; 
}

#Game_text{
    font-family: 'Courier New', Courier, monospace;
    position: absolute; 
    bottom: -10px; 
    right : 275px; /*270*/
    font-size: 12px;
    color: white;
    z-index: 1;
  width: 10px; 
}

#IE_icon:hover{
  cursor: pointer;
}
#sims_icon:hover{
  cursor: pointer;
}

#IE_container{
   position: relative;  
}

#Sims_container{
  position: relative;  
 /* width: 120em; */ 
}

#webpage{
  position: absolute; 
  width: 650px;
  height: 500px;
  background-color: mediumpurple;
  display: none; 
  margin-left: auto;
  margin-right: auto; 
  z-index: 2; 
  overflow-y: scroll;
}

#nav-bar{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%; /*???*/ 
  height: 20px;
  background-color: white;
}

#resume_x{
  position: absolute;
 right: 0px; 
}

#Name{
  font-family: "Jacquard 12", serif;
  text-align: center; 
  color: hotpink; 
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-decoration: underline; 
}
#Ed{
  font-family: "Jacquard 12", serif;
  text-align: center; 
  color: hotpink; 
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-decoration: underline; 
}
h3{
  margin-top: -25px;
  font-family: "Jacquard 12", serif;
  color: white; 
  font-weight: 400;
  font-style: normal;
  font-size: 20px; 
  position: absolute;
  left: 270px; 
  top: 105px;
}

#GitHub{
  margin-top: -25px;
  font-family: "Jacquard 12", serif;
  color: white; 
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute; 
  left: 150px; 
}
/* This only works with headers? */ 
h4{
  margin-top: -20px;
  font-family: "Jacquard 12", serif;
  text-align: center; 
  color: white; 
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
#Ed1{
  font-family: "Jacquard 12", serif;
  text-align: center; 
  color: white; 
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute; 
  top: 175px;
  left: 80px;
}

#Ed2{
  font-family: "Jacquard 12", serif;
  /*  margin: 0 auto; */ 
  text-align: center; 
  color: white; 
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute; 
  top: 225px;
  left: 160px;
}

#Ed3{
  font-family: "Jacquard 12", serif;
  text-align: center; 
  color: white; 
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute; 
  top: 200px;
  left: 140px;
}

#PaA{
  font-family: "Jacquard 12", serif;
  text-align: center; 
  color: hotpink; 
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-decoration: underline; 
  position: absolute;
  top: 220px;
  left: 185px; 
}

#GWC_Title{
  font-family: "Jacquard 12", serif;
  text-align: center; 
  color: white; 
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute; 
  top: 280px;
  left: 165px;
   text-decoration: underline;
}

#GWC1{
  font-family: "Jacquard 12", serif;
  text-align: center; 
  color: white; 
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute; 
  top: 300px;
  left: 10px
}

#GWC2{
  font-family: "Jacquard 12", serif;
  text-align: center; 
  color: white; 
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute; 
  top: 340px;
  left: 20px
}

#GWC2{
  font-family: "Jacquard 12", serif;
  text-align: center; 
  color: white; 
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute; 
  top: 340px;
  left: 20px
}

#GWC3{
  font-family: "Jacquard 12", serif;
  text-align: center; 
  color: white; 
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute; 
  top: 370px;
  left: 20px
}

#GWC4{
  font-family: "Jacquard 12", serif;
  text-align: center; 
  color: white; 
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute; 
  top: 400px;
  left: 20px
}

#HackCC-Title{
  font-family: "Jacquard 12", serif;
  text-align: center; 
  color: white; 
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute; 
  top: 440px;
  left: 210px;
   text-decoration: underline;
}

#HackCC1{
  font-family: "Jacquard 12", serif;
  text-align: center; 
  color: white; 
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute; 
  top: 470px;
  left: 20px
}

#HackCC2{
  font-family: "Jacquard 12", serif;
  text-align: center; 
  color: white; 
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute; 
  top: 500px;
  left: 20px
}

#Work_Title{
  font-family: "Jacquard 12", serif;
  text-align: center; 
  color: hotpink; 
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-decoration: underline; 
  position: absolute;
  top: 550px;
  left: 210px
}

#Lib1{
  font-family: "Jacquard 12", serif;
  text-align: center; 
  color: white; 
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute; 
  top: 590px;
  left: 200px;
  text-decoration: underline;
}

#Lib2{
  font-family: "Jacquard 12", serif;
  text-align: center; 
  color: white; 
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute; 
  top: 620px;
}

#Lib3{
  font-family: "Jacquard 12", serif;
  text-align: center; 
  color: white; 
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute; 
  top: 665px;
}

#Lib4{
  font-family: "Jacquard 12", serif;
  text-align: center; 
  color: white; 
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute; 
  top: 695px;
}

#Skill_Title{
  font-family: "Jacquard 12", serif;
  color: hotpink; 
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-decoration: underline; 
  position: absolute;
  top: 720px;
  left: 120px
}

#Skill1{
  font-family: "Jacquard 12", serif;
  text-align: center; 
  color: white; 
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute; 
  top: 755px;
  left: 20px
}

#Skill2{
  font-family: "Jacquard 12", serif;
  text-align: center; 
  color: white; 
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute; 
  top: 780px;
  left: 20px
}
/**/ 

#IE_text:hover{
  cursor: pointer;
}

#Sims_text:hover{
  cursor: pointer;
}

#IE_text:active{
  background-color: blue;
  border: 0.5px dotted white;
  cursor: pointer;
  display: block; 
}

#Sims_text:active{
  background-color: blue;
  border: 0.5px dotted white;
  cursor: pointer;
  display: block; 
}

#Game_text:hover{
  cursor: pointer;
}

#Game_text:active{
  background-color: blue;
  border: 0.5px dotted white;
  cursor: pointer;
  display: block;
}
#Sims_3 {
  min-width: 840px;
  min-height: 602px;
  margin: auto;
  z-index: 5; 
  display: none; 
  position: absolute;
  
}

.background {
  width: 840px;
  height: 602px;
  margin: auto;
  z-index: 0;
  position: relative;
}

.topper {
  background-color: #757676;
  height: 27px;
  width: 822px;
  opacity: 0.7;
  position: absolute;
  /* top: 0px; 
  z-index: 10; */
  top: 12px;
  left: 10px;
  border-radius: 5px;
  text-align: center;
}

.header {
  font-size: 14px;
  position: absolute;
  top: 10px;
  left: 340px;
  color: black;
}

.mini {
  background-color: #a2c0fd;
  border: 2px solid #3f517a;
  border-radius: 5px;
  color: #012367;
  height: 22px;
  width: 22px;
  font-size: 20px;
  position: absolute;
  top: 15px;
  right: 836px;
}

.close {
  background-color: #a2c0fd;
  border: 2px solid #3f517a;
  border-radius: 5px;
  color: #012367;
  height: 22px;
  width: 22px;
  font-size: 20px;
  position: relative;
  top: 2px;
  /*15*/
  right: -390px;
  z-index: 3; 
}

.side {
  background-color: #97cbff;
  width: 210px;
  /*215*/
  height: 536px;
  /*676*/
  border: 9px solid #55709d;
  border-radius: 12px;
  position: absolute;
  top: 43px;
  /*60*/
  left: 10px;
}

.logo3 {
  width: 150px;
  position: absolute;
  top: 10px;
  left: 30px;
}

.play {
  background: linear-gradient(#2d6ac0, #41bbda);
  color: #002e74;
  border-color: #c4ced2;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  width: 75px;
  /*Same*/
  height: 75px;
  font-size: 35px;
  border-radius: 35px;
  position: absolute;
  top: 165px;
  left: 70px;
  border-width: 4px;
  cursor: pointer;
}

.welcome {
  color: #002e72;
  width: 190px;
  height: 35px;
  position: absolute;
  bottom: 221px;
  left: 10px;
  border-radius: 5px;
  background: linear-gradient(#b4ccff, #75a1ff);
  border: 1px solid #002e72;
  z-index: 3;
  box-shadow: 0 0 3px 1px white;
}

.Exp {
  color: #002e72;
  width: 190px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(#b4ccff, #75a1ff);
  border: 1px solid #002e72;
  position: absolute;
  bottom: 177px;
  left: 10px;
  z-index: 3;
}

.Down {
  color: #002e72;
  width: 190px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(#b4ccff, #75a1ff);
  border: 1px solid #002e72;
  position: absolute;
  left: 10px;
  bottom: 133px;
  z-index: 3;
}

.Content {
  color: #002e72;
  width: 190px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(#b4ccff, #75a1ff);
  border: 1px solid #002e72;
  position: absolute;
  left: 10px;
  bottom: 89px;
  z-index: 3;
}

.Uploads {
  color: #002e72;
  width: 190px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(#b4ccff, #75a1ff);
  border: 1px solid #002e72;
  position: absolute;
  left: 10px;
  bottom: 45px;
  z-index: 3;
}

.version {
  color: #1b3f86;
  position: absolute;
  left: 80px;
  bottom: 23px;
}

.info {
  color: #1b3f86;
  position: absolute;
  left: 60px;
  bottom: 2px;
}
/* Stop Here */ 

.promo {
  position: absolute;
  left: 2px;
  top: 125px;
  /*190*/
  height: 410px;
  /*50 dif --> width*/
  width: 330px;
  /*- 2*/
  /*315*/
  z-index: 2; 
}

.corner {
  width: 580px;
  height: 540px;
  position: absolute;
  top: 43px;
  left: 243px;
  border: 8px solid #506b98;
  border-radius: 5px;
  opacity: 0.95;
}

.second {
  background-color: #42669f;
  border: 2px solid #384d7b;
  border-radius: 5px;
  width: 578px;
  height: 541px;
  top: 5px;
  z-index: 1;
}

.green {
  width: 25px;
  height: 25px;
  /* background-color: #82b638; */
  background: linear-gradient(#8fc344, #689a25);
  border: 5px solid #4c4c4c;
  border-radius: 15px;
  position: absolute;
  left: 122px;
  bottom: 12px;
  z-index: 2; 
}

.box {
  top: 10px;
  left: 50px;
  width: 569px;
  /*579. 564*/
  height: 534px;
  /*540*/
  z-index: 3;
}

.upper {
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: #40598c;
  color: white;
  width: 294px;
  height: 150px;
  /*65*/
  border: 1px solid #40598c;
  z-index: 2;
}

.top {
  font-size: 11px;
  position: absolute;
  top: 0px;
  left: 105px;
}

.bottom {
  position: absolute;
  left: 105px;
  top: 35px;
}

.logo4 {
  position: absolute;
  top: 3px;
  left: 18px;
  width: 80px;
  height: 80px;
}

.right {
  position: absolute;
  width: 100px;
  height: 100px;
  color: pink;
}

.info2 {
  font-size: 11px;
  text-align: left;
  position: absolute;
  top: 70px;
  left: 104px;
  /*94*/
  /*84*/
}

/*.box2{
  z-index: 3;
  color: white; 
  width: 290px; 
}*/
.line {
  border-left: 6px solid #55709d;
  /* Border Colors */
  height: 541px;
  width: 278px;
  position: absolute;
  top: 0px;
  right: 1px;
  z-index: 3;
}

.transparent {
  width: 273px;
  height: 540px;
  opacity: 0.82;
  background-color: #3a5386;
  z-index: 4;
  position: absolute;
  right: 7px;
}

.one {
  width: 258px;
  height: 90px;
  background: linear-gradient(#7aa9f0, #acd0ff);
  border: 6px solid #34446d;
  border-radius: 10px;
  z-index: 5;
  position: absolute;
  top: 15px;
  right: 9px;
}

.oOne {
  color: #020305;
  position: absolute;
  right: 30px;
  font-size: 13px;
  top: 1px;
}

.oTwo {
  color: #203d80;
  font-size: 10px;
  position: absolute;
  bottom: 30px;
  right: 40px;
}

.oThree {
  color: #203d80;
  font-size: 10px;
  position: absolute;
  bottom: 15px;
  right: 35px;
}

.login {
  color: #002e72;
  z-index: 6;
  position: absolute;
  top: 20px;
  right: 27px;
  width: 107px;
  height: 22px;
  background: linear-gradient(#b4ccff, #75a1ff);
  border: 1px solid #002e72;
  border-radius: 4px;
}

.ID {
  /*width: 80px; 
  height: 80px; */
  z-index: 6;
  position: absolute;
  bottom: 10px;
  left: 15px;
  border: 5px solid #426db5;
  border-radius: 8px;
}

.two {
  width: 258px;
  height: 160px;
  background-color: #cce1ff;
  z-index: 6;
  position: absolute;
  top: 140px;
  right: 9px;
  border: 6px solid #34446d;
  border-radius: 10px;
}

.tOne {
  color: black;
  font-size: 13px;
  position: absolute;
  right: 100px;
  top: 15px;
}

.tTwo {
  color: #0574b3;
  font-size: 13px;
  position: absolute;
  top: 35px;
  right: 20px;
}

.tThree {
  color: #7d7d7d;
  font-size: 13px;
  position: absolute;
  top: 60px;
  right: 50px;
}

.tFour {
  color: black;
  font-size: 13px;
  position: absolute;
  top: 80px;
  right: 50px;
}

.tdiv {
  width: 120px;
  height: 40px;
  background-color: white;
  color: #58974c;
  border: 1px solid #bfbfc1;
  border-radius: 3%;
  position: absolute;
  top: 100px;
  right: 10px;
}

.fdiv {
  position: absolute;
  top: 13px;
  right: 27px;
}

.thumb {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.tSecond {
  position: absolute;
  top: 0px;
  width: 248px;
  height: 150px;
  border: 5px solid #79a8f0;
  border-radius: 5px;
}

.three {
  font-size: 11px;
  width: 258px;
  height: 41px;
  position: absolute;
  top: 424px;
  right: 10px;
  border: 6px solid #34446d;
  border-radius: 11px;
  background: linear-gradient(#7baaf1, #a9cdfe);
  z-index: 6;
}

.tFont {
  position: absolute;
  left: 45px;
  top: 5px;
}

.tImage {
  position: absolute;
  top: 5px;
  left: 5px;
}

.four {
  position: absolute;
  right: 10px;
  top: 477px;
  width: 258px;
  height: 41px;
  border: 6px solid #34446d;
  border-radius: 11px;
  background: linear-gradient(#7baaf1, #a9cdfe);
  z-index: 6;
}

.logo {
  width: 70px;
  position: absolute;
  top: 3px;
  left: 3px;
}

.fOne {
  position: absolute;
  top: 6px;
  left: 83px;
  font-size: 30px;
}

.fTwo {
  position: absolute;
  top: 7px;
  left: 120px;
  font-size: 27px;
}

.fThree {
  position: absolute;
  font-size: 30px;
  top: 5px;
  right: 66px;
}

.fFour {
  position: absolute;
  font-size: 27px;
  top: 6px;
  right: 33px;
}

.fFive {
  position: absolute;
  font-size: 23px;
  top: 7px;
  right: 13px;
}

.point {
  position: absolute;
  top: 3px;
  right: 6px;
  color: #1e3c79;
  font-size: 25px;
  z-index: 3;
  /* box-shadow: 0 0 3px 3px white; */
}

.blue {
  position: absolute;
  top: 278px;
  left: 7px;
  width: 220px;
  height: 40px;
  background-color: #58729d;
  border-radius: 5px;
  z-index: 2;
}

.special {
  box-shadow: 0 0 3px 1px white;
}

/* Number Game CSS */ 
#Number_wrapper{
  z-index: 5;
}
#Number_close{
  z-index: 5;   
  font-size: 20px; 
  color: black; 
  width: 30px; 
  background-color: hotpink;
  border: 3px, solid, deeppink;
  font-family: "Old Standard TT";
  position: absolute;
  top: 200px;
  left: 1200px;
}

#Credit{
  position: absolute;
  top: 380px;
  left: 20px;
  font-family: "Old Standard TT";
  color: black
}

#Credit:hover{
  cursor: pointer;
  color: grey;
}

#Credit:active{
  cursor: pointer;
  color: white;
}
#Number_wrapper{
display: none; 
position: absolute;   
}

#Game_title{
  position: absolute;
  color: black;
  left: 180px; /*200 */ 
  font-size: 50px;
  top: 70px;
  font-family: "Old Standard TT";
}

#Game_number{
  position: absolute; 
  font-weight: normal;  
  left: 350px;
  top: 150px; 
  font-family: "Old Standard TT";
  color: black;
}

#Input {
  position: absolute;
  top: 50px;
  left: 600px; 
  width: 200px;
  height: 30px; 
  font-family: "Old Standard TT";
}

#Enter {
  position: absolute;
  top: 200px;
  left: 360px;
  height: 50px;
  width: 70px;
  background-color: hotpink;
  border: 3px, solid, deeppink;
  font-family: "Old Standard TT";
}

#Answer {
   position: absolute;
  left: 350px;
  top: 280px;
  background-color: hotpink;
  border: 3px, solid, deeppink;
  height: 50px;
  width: 90px;
  font-family: "Old Standard TT";
}

#demo{
  position: absolute;
  top: 245px; 
  left: 260px; 
  font-family: "Old Standard TT";
  color: black;
}

#demo1{
  position: absolute;
  top: 300px; 
  left: 600px; 
}

#Back{
/*height: 100%; 
width: 100%; */ 
  height: 400px; 
}

#Enter:hover {
  background-color: pink;
  border-color: hotpink;
  cursor: pointer;
}

#Enter:active {
  background-color: hotpink;
  border-color: hotpink;
  cursor: pointer;
}

#Answer:hover {
  background-color: pink;
  border-color: hotpink;
  cursor: pointer;
}

#Answer:active {
  background-color: hotpink;
  border-color: hotpink;
  cursor: pointer;
}



/* */ 

/*.welcome:focus{
  box-shadow: 0 0 3px 1px white;
}*/
/*.blue:focus+.welcome{
  position: absolute;
  top: 278px; 
  left: 7px; 
  width: 220px; 
  height: 40px;
  background-color: #58729d;
  border-radius: 5px;
  z-index: 2;
} */
.tdiv:hover {
  background: linear-gradient(#9dc619, #25a03c);
  color: white;
  cursor: pointer;
}

.logo:hover {
  box-shadow: 0 0 10px 3px white;
  cursor: pointer;
}

.fOne:hover {
  box-shadow: 0 0 10px 3px white;
  cursor: pointer;
}

.fTwo:hover {
  box-shadow: 0 0 10px 3px white;
  cursor: pointer;
}

.i:hover {
  box-shadow: 0 0 10px 3px white;
  cursor: pointer;
}

.welcome:hover {
  background: #6c9cff;
  cursor: pointer;
}

.Exp:hover {
  background: #6c9cff;
  cursor: pointer;
}

.Down:hover {
  background: #6c9cff;
  cursor: pointer;
}

.Content:hover {
  background: #6c9cff;
  cursor: pointer;
}

.Uploads:hover {
  background: #6c9cff;
  cursor: pointer;
}

.upper:hover {
  height: 120px;
  cursor: pointer;
}

.upper:not(:hover) {
  height: 65px;
}

.info2:not(:hover) {
  height: 65px;
}

.info2:hover {
  height: 120px;
  cursor: pointer;
}

.login:hover {
  color: white;
  cursor: pointer;
}

.close:hover {
  background: #6c9cff;
  cursor: pointer;
}

#Number_close:hover{
  background-color: pink;
  border-color: hotpink;
  cursor: pointer;
}

#Number_close:active {
  background-color: hotpink;
  border-color: hotpink;
  cursor: pointer;
}

#resume_x:hover{
  cursor: pointer;
}
/* Web Responsiveness */ 